p {
    color: black;
    font-size: 15pt;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url(/images/Screenshot\ \(235\).png);
    background-color: rgba(61, 61, 99, 0.749);
    background-blend-mode: lighten;
}